[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
gunicorn = "*"
psycopg2-binary = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
